/build/
Binarios/
packages/
Liberacoes/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
ClienteDadp.7z
*.dcu
/dcu/
dcu/
/Servidor/Launcher.Servidor/Cliente/ClienteLauncher.7z

/*.zip
